In [1]:
import pandas as pd
data = pd.read_csv('C:/Data/DeepLearningWorkshop/OSI_feats_e2.csv')

In [2]:
data['OperatingSystems'].value_counts()

2    6601
1    2585
3    2555
4     478
8      79
6      19
7       7
5       6
Name: OperatingSystems, dtype: int64

In [3]:
colname = 'OperatingSystems'
operation_system_dummies = pd.get_dummies(data[colname], \
                           prefix=colname)

In [4]:
operation_system_dummies.drop(colname+'_5', axis=1, \
                              inplace=True)
data = pd.concat([data, operation_system_dummies], axis=1)

In [5]:
data['Browser'].value_counts()

2     7961
1     2462
4      736
5      467
6      174
10     163
8      135
3      105
13      61
7       49
12      10
11       6
9        1
Name: Browser, dtype: int64

In [7]:
colname = 'Browser'
browser_dummies = pd.get_dummies(data[colname], \
                  prefix=colname)
browser_dummies.drop(colname+'_9', axis=1, inplace=True)
data = pd.concat([data, browser_dummies], axis=1)

In [8]:
colname = 'TrafficType'
data[colname].value_counts()
traffic_dummies = pd.get_dummies(data[colname], \
                                 prefix=colname)
# value 17 occurs with lowest frequency
traffic_dummies.drop(colname+'_17', axis=1, inplace=True)
data = pd.concat([data, traffic_dummies], axis=1)
colname = 'Region'
data[colname].value_counts()
region_dummies = pd.get_dummies(data[colname], \
                 prefix=colname)
# value 5 occurs with lowest frequency
region_dummies.drop(colname+'_5', axis=1, inplace=True)
data = pd.concat([data, region_dummies], axis=1)

In [9]:
data.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
                            ...
Region_4                     uint8
Region_6                     uint8
Region_7                     uint8
Region_8                     uint8
Region_9                     uint8
Length: 84, dtype: object

In [10]:
data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TrafficType_19,TrafficType_20,Region_1,Region_2,Region_3,Region_4,Region_6,Region_7,Region_8,Region_9
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0

In [11]:
data.to_csv('C:\Data\DeepLearningWorkshop\OSI_feats_e3.csv', index=False)